@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(circle at center center, #845ec2, #171717),
    repeating-radial-gradient(
      circle at center center,
      #845ec2,
      #845ec2,
      15px,
      transparent 30px,
      transparent 15px
    );
  background-blend-mode: multiply;
  background-color: #171717;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100dvh;
}

.logo_gradient {
  background-image: linear-gradient(to right, #845ec2, #1d87a4);
  color: transparent;
  background-clip: text;
  animation: logo_movement 4s infinite linear;
}